<!DOCTYPE html>

<html>
    <head>
        
        <title>
            About Me
        </title>
        
    </head>
    
    <body>
        <h1 align = "center"> Hawkins, Alexander </h1>
        
        <p align = "center">Welcome to my profressional profile! I enjoy playing basketball, creating canvas collages, and going on adventures! 
        I am studying Computer Science because I have dreams of becoming the Video Game Software Engineer in the future!</p>
        
        <h2 align = "center"> My Professional Profile </h2>
        
        <a href = "https://github.com/alexhawkins98"><p style = "text-align:center">My GitHub</p></a>
        
        <br> </br>
        
        <p style = "text-align:center"><img src = "../Resources/HueyHawkins.jpeg" alt = "Huey Hawkins" width = "500" height = "500"></p>
        
        <br> </br>
        
        <h3 align = "center"> My Favorite Projects </h3>
        
        <table class = "table table-dark" align = "center">
            <thead align = "center">
                <th scope = "col"> Projects </th>
                <th scope = "col"> Technologies Used</th>
            </thead>
            
            <tbody align = "center">
                <tr>
                    <td> PacMan </td>
                    <td> JavaScript </td>
                </tr>
                
                <tr>
                    <td> Robot War </td>
                    <td> Python </td>
                </tr>
                
                <tr>
                    <td> NBA2K Court </td>
                    <td> Maya </td>
                </tr>
            </tbody>
        </table>
        
        <br> </br>
        
        <h3 align = "center"> My Interests </h3>
        
        <ul align = "center" style = "width: 7em; margin: 0 auto;">
            <li>Fashion</li>
            <li>Music</li>
            <li>Photography</li>
        </ul>
        
    </body>
</html>
